{% extends 'base.html' %}
{% block title %}
Filter
{% endblock %}
{% block content %}



<div class="w3-padding w3-white notranslate" style="background-color:#fff!important;color:#333!important">
    <div style="width:100%">
        <p style="margin-top:3%">Searching in tests by name and tags:</p>
        <div class="form-group">
            <form method="get">
                <div class="row g-3 align-items-center">

                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Name contains:</label>
                    </div>
                    <div class="col-auto">
                        <input id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"
                            name="name"
                            value="{% if filterform.name.value and not filterform.username.errors%}{{ filterform.name.value }}{% endif %}">
                    </div>
                    <div class="clear"> </div>
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Tags: &ensp;&emsp;&emsp;&emsp;&emsp;</label>
                    </div>
                    <div class="col-auto">
                        <input id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" name="tag"
                            placeholder="tags separated by spaces"
                            value="{% if filterform.tag.value and not filterform.tag.errors%}{{ filterform.tag.value }}{% endif %}">

                    </div>
                    <div class="clear"> </div>
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Order by:&emsp;&emsp;&emsp;</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select form-select-sm" name="ordering" id="id_language">
                            {% for order in filterform.ordering %}
                            {{order}}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="clear"> </div>
                    <div class="col-auto">
                        <label for="size" class="col-form-label">page size:&ensp;&emsp;&emsp;</label>
                    </div>

                    <div class="col-auto">
                        <select class="form-select form-select-sm" name="page_size" id="id_language">
                            {% if request.GET.page_size %}
                            {%for size in list_of_sizes%}
                            {% if request.GET.page_size == size|stringformat:"i" %}
                            <option value={{size}} selected="selected">{{size}}</option>
                            {%else%}
                            <option value={{size}}>{{size}}</option>
                            {% endif %}
                            {%endfor%}

                            {%else%}
                            {%for size in list_of_sizes%}
                            {% if list_of_sizes.1 is size %}
                            <option value={{size}} selected="selected">{{size}}</option>
                            {%else%}
                            <option value={{size}}>{{size}}</option>
                            {% endif %}
                            {%endfor%}
                            {% endif %}
                        </select>
                    </div>

                    <div class="mt-3 d-flex justify-content-between">

                        <button class="btn btn-primary" type="submit">Submit</button>

                    </div>

                </div>
            </form>
        </div>


        <br>
        <table class="table table-bordered table-striped" style="background-color:#fff;color:#333;">
            <thead>
                <tr>
                    <th style="width: 12%;">test name</th>
                    <th style="width: 22%;">tags</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody id="myTable">
                {% for obj in page %}
                <tr class="clickable">
                    <td> <a href="{% url 'quizzes:detail_test' obj.id %}"
                            class="list-group-item list-group-item-action py-2">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">{{ obj.name }}</strong>
                            </div>
                        </a>
                    </td>
                    <td>{% for tag in obj.tag.all %} {{tag}} {% endfor %}</td>
                    <td>{{obj.description}}</td>
                </tr>
                {% endfor %}

                </tr>
            </tbody>
        </table>
    </div>


    <nav>
        <ul class="pagination justify-content-center">
            {%for i in total_pages%}
            {% if i is not current_page%}
            <li class="page-item"><a class="page-link"
                    href="?name={{ request.GET.name }}&tag={{ request.GET.tag }}&ordering={{ request.GET.ordering }}&page_size={{ request.GET.page_size }}&page_number={{i}}">{{i}}</a>
            </li>
            {%else%}
            <li class="page-item active">
                <span class="page-link">
                    {{i}}
                    <span class="sr-only"></span>
                </span>
            </li>
            {% endif %}

            {% endfor %}

        </ul>
    </nav>

</div>

{% endblock %}