{% extends 'base.html' %}
{% block title %}
Signup
{% endblock %}
{% block content %}

<div class="form-signin w-100 m-auto">

    <form method="post" class="needs-validation">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please fill the form</h1>
        <div class="form-floating">
            <input type="username"
                class="form-control {% if form.username.value and not form.username.errors%}is-valid{%elif form.username.errors%}is-invalid{%endif%}"
                name="username" id="username" placeholder="Username"
                value="{% if form.username.value and not form.username.errors%}{{ form.username.value }}{% endif %}">
            <label for="username">Username</label>
            <div class="invalid-feedback">
                {{form.username.errors}}
            </div>

        </div>
        <div class="form-floating">
            <input type="email"
                class="form-control {% if form.email.value and not form.email.errors%}is-valid{%elif form.email.errors%}is-invalid{%endif%}"
                name="email" id="email" placeholder="Email"
                value="{% if form.email.value and not form.email.errors %}{{ form.email.value }}{% endif %}">
            <label for="email">Email address</label>
            <div class="invalid-feedback">
                {{form.email.errors}}
            </div>
        </div>
        <div class="form-floating">
            <input type="first_name"
                class="form-control {% if form.first_name.value and not form.first_name.errors%}is-valid{%elif form.first_name.errors%}is-invalid{%endif%}"
                name="first_name" id="first_name" placeholder="first_name"
                value="{% if form.first_name.value and not form.first_name.errors%}{{ form.first_name.value }}{% endif %}">
            <label for="first_name">First name</label>
            <div class="invalid-feedback">
                {{form.first_name.errors}}
            </div>
        </div>
        <div class="form-floating">
            <input type="last_name"
                class="form-control {% if form.last_name.value and not form.last_name.errors%}is-valid{%elif form.last_name.errors%}is-invalid{%endif%}"
                name="last_name" id="last_name" placeholder="last_name"
                value="{% if form.last_name.value and not form.last_name.errors%}{{ form.last_name.value }}{% endif %}">
            <label for="last_name">Last name</label>
            <div class="invalid-feedback">
                {{form.last_name.errors}}
            </div>
        </div>
        <div class="form-floating">
            <input type="date"
                class="form-control {% if form.birthday.value and not form.birthday.errors%}is-valid{%elif form.birthday.errors%}is-invalid{%endif%}"
                name="birthday" id="birthday" placeholder="birthday"
                value="{% if form.birthday.value and not form.birthday.errors%}{{ form.birthday.value }}{% endif %}">
                <span id="startDateSelected"></span>
            <label for="birthday">birthday</label>
            <div class="invalid-feedback">
                {{form.birthday.errors}}
            </div>
        </div>
        <div class="form-floating">
            <input type="password"
                class="form-control {% if form.password2.value and not form.password2.errors%}is-valid{%elif form.password2.errors%}is-invalid{%endif%}"
                name="password1" id="pwd1" placeholder="Password"
                value="{% if form.password1.value and not form.password2.errors%}{{ form.password1.value }}{% endif %}">
            <label for="pwd1">Password</label>
        </div>
        <div class="form-floating">
            <input type="password"
                class="form-control {% if form.password2.value and not form.password2.errors%}is-valid{%elif form.password2.errors%}is-invalid{%endif%}"
                name="password2" id="pwd2" placeholder="Repeat Password"
                value="{% if form.password2.value and not form.password2.errors%}{{ form.password2.value }}{% endif %}">
            <label for="pwd2">Repeat Password</label>
            <div class="invalid-feedback">
                {{form.password2.errors}}
            </div>
        </div>
        <select class="form-select form-select-sm" name='country' id="id_country">
            {% for country in form.country %}
            {{country}}
            {% endfor %}
        </select>
        <select class="form-select form-select-sm" name='language' id="id_language">
            {% for language in form.language %}
            {{language}}
            {% endfor %}
        </select>
        <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
        <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
    </form>
</div>
{% endblock %}