{% extends 'base.html' %}
{% block title %}
Signup
{% endblock %}
{% block content %}

<div class="form-signin w-100 m-auto">

    <form method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please fill the form</h1>
        {{ form.errors }}
        <div class="form-floating">
            <input type="username" class="form-control" name="username" id="username" placeholder="Username">
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating">
            <input type="first_name" class="form-control" name="first_name" id="first_name" placeholder="first_name">
            <label for="first_name">First name</label>
        </div>
        <div class="form-floating">
            <input type="last_name" class="form-control" name="last_name" id="last_name" placeholder="last_name">
            <label for="last_name">Last name</label>
        </div>
        <div class="form-floating">
            <input type="birthday" class="form-control" name="birthday" id="birthday" placeholder="birthday">
            <label for="birthday">birthday</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password1" id="pwd1" placeholder="Password">
            <label for="pwd1">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password2" id="pwd2" placeholder="Repeat Password">
            <label for="pwd2">Repeat Password</label>
        </div>
        <select class="form-select form-select-sm" name='country' id="id_country">
            {% for country in form.country %}
            {{country}}
            {% endfor %}
        </select>
        <select class="form-select form-select-sm" name='language' id="id_language">
            {% for language in form.language %}
            {{language}}
            {% endfor %}
        </select>
        <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
        <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
    </form>
</div>
{% endblock %}