<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<body>
<div class="container mt-5 d-flex justify-content-center">

    <div class="card p-3">

        <div class="d-flex align-items-center">

            <div class="image">
                {% if user.profile.avatar_url %}
                <img src="http://localhost:80/static/local-media/{{ user.profile.avatar_url }}" class="rounded"
                     width="155">
                <a href="{% url 'users:load_image' %}">change_image</a>
                {% else %}
                <a href="{% url 'users:load_image' %}">load iamge</a>
                {% endif %}
            </div>

            <div class="ml-3 w-100">

                <h4 class="mb-0 mt-0">{{ user.username }}</h4>
                <h4 class="mb-0 mt-0">{{ user.email }}</h4>
                <h4 class="mb-0 mt-0">{{ user.profile.registration_date }}</h4>


                <div class="button mt-2 d-flex flex-row align-items-center">


                </div>


            </div>


        </div>

    </div>

</div>
</body>
</html>
{% endblock %}